<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <p>Random Word (attempt #{{request.session.attempt}})</p>
    <p>{{request.session.word}}</p>
    <button><a href="/random_word">Generate</a></button>
    <button><a href="/random_word/reset">Reset</a></button>
</body>
</html>